* {
	all: unset;
	font-size: 15px;
}

.unset {
	all: unset;
}

.tray {
	padding: 0 0.25rem;
	margin: 0 0.25rem;
}
.bar {
	background-color: rgba(43,48,59,0.5);
	border-bottom: 5px solid rgba(100, 114, 125, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: 0.5s;
}
.start-widgets {
	margin-left: 7px;
}

.end-widgets {
	margin-left: 7px;
}

.clock {
	margin-right: 7px;
	font: JetBrainsMono;
}

.workspace-button {
	min-width: 13px;
	min-height: 24px;
	padding: 0px 5px;
	background-color: transparent;
	border-top: 1px solid transparent;
	transition: background 0.3s ease, border-top 0.3s ease;
}

.workspace-button.active {
	border-top: 1px solid #ffffff;
}

.workspace-button:hover {
	border-top: 1px solid #808080;
	background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));
}

.workspace-button.active:hover {
	border-top:1px solid #ffffff;
	background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));
}

.tray-icon {
	all: unset;
}
